{% extends 'common/layout.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="mdl-grid">
            <h2 class="mdl-cell mdl-cell--12-col">Your Latest shots</h2>
            {% for shot in shots %}
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ shot.date }}</h2>
                        </div>
                        <div class="mdl-card__media">
                            <img src="{{ shot.image }}" class="shot-image">
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ shot.text }}
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Edit This Shot
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="empty mdl-cell mdl-cell--12-col">
                    You haven't added any shots yet.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}