body {
    font-family: Roboto, Arial, Helvetica, serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

form.login {
    min-height: 250px;
}

form .error-holder {
    color: red;
}

.shot-image {
    max-width: 100%;
}

.empty {
    padding: 1em 0;
}

#add-shot {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    z-index: 900;
}

#add-shot-dialog {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    width: calc(100% - 32px);
    margin: auto;
    background: #FFF;
    z-index: 1000;
}