.mdl-mini-footer {
    background: transparent;
}

.mdl-mini-footer__link-list {
    padding-top: 4em;
}

.mdl-mini-footer__link-list a {
    padding-right: 1.5em;
    text-transform: uppercase;
}

.mdl-card {
    width: auto;
}

.mdl-card__media {
    text-align: center;
    background-color: transparent;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-list__item {
    padding: 0 0 0 8px;
}

.mdl-list__item .mdl-list__item-secondary-content {
    flex-flow: row;
}

.mdl-dialog__title {
    font-size: 2rem;
}
