@media (prefers-color-scheme: dark) {
  body {
    color: #efefef;
    background: #010101;
  }

  h1, h2, a, p, b, li {
    color: #efefef;
  }

  #show-settings {
    color: #efefef;
  }

  input, select, textarea, button {
    color: #efefef;
    border-color: #636363;
    background: #636363;
  }

  #calendar-container.block {
    padding: 1rem .5rem;
    background-color: rgba(255, 255, 255, 0.05);
  }

  #calendar-container .day,
  #calendar-container .date {
    color: #aaaaaa;
  }

  #calendar-container .date.disabled {
      color: #333333;
  }
}