#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200;
}

#loader img {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

#navbar {
  padding: 1rem;
  font-family: Times New Roman, serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

#container {
  padding: 1rem;
}

#show-add-shot-item-form {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  background: #064d69;
  z-index: 100;
}

#show-settings {
  position: fixed;
  top: -.25rem;
  left: .375rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #000000;
  background: none;
  border: none;
  z-index: 100;
}

#register-form input,
#login-form input {
  width: calc(100% - 1.5rem);
}

#register-form button[type=submit],
#login-form button[type=submit],
#add-shot-item-form button[type=submit],
#update-settings-form button[type=submit] {
  margin-right: .25rem;
}

#add-shot-item-form label {
  display: inline-block;
}

#dashboard .row {
  margin-bottom: 1rem;
}

#dashboard label {
  color: #636363;
}

#dashboard .block {
  padding: .5rem 0;
}

#stats-container {
  margin-bottom: 1rem;
  text-align: center;
}

#dashboard .timedelta-last-shot {
  margin-bottom: 2rem;
}

#dashboard .timedelta-last-shot .value {
  margin-bottom: .375rem;
  font-size: 2rem;
  font-weight: 500;
}

#dashboard .skipped-volume-last-shot,
#dashboard .money-saved-last-shot {
  display: inline-block;
  width: 45%;
}

#dashboard .skipped-volume-last-shot .value,
#dashboard .money-saved-last-shot .value {
  font-size: 1.25rem;
  font-weight: 500;
}

#dashboard .skipped-volume-last-shot .value.overflow,
#dashboard .money-saved-last-shot .value.overflow {
  color: rgba(255, 0, 0, 1);
}

#dashboard .skipped-volume-last-shot label,
#dashboard .money-saved-last-shot label {
  font-size: .85rem;
}

#calendar-container.block {
  padding: 1rem .5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

#calendar-container h4 {
  margin: 0 0 .75rem .75rem;
  text-align: left;
}

#calendar-container .table,
#calendar-container .days {
  display: flex;
  flex-flow: row wrap;
}

#calendar-container .day,
#calendar-container .date {
  width: calc(100% / 7);
  height: .8rem;
  text-align: center;
  color: #636363;
}

#calendar-container .day {
  margin-bottom: .5rem;
}

#calendar-container .date {
  padding: .625rem 0;
}

#calendar-container .date.drunk {
  position: relative;
  color: #ffffff;
}

#calendar-container .date.drunk:before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1.75rem;
  height: 1.75rem;
  background-color: rgba(255, 0, 0, .7);
  border-radius: 1rem;
  z-index: -1;
}

#calendar-container .date.disabled {
  color: #aaaaaa;
}

#shot-list-container.block {
  margin: .75rem 0;
  padding: .75rem 1rem;
}

#shot-list-container .shot-item {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: .325rem;
}

#shot-list-container .shot-item .date {
  margin-right: .5rem;
}

#add-shot-item-form .form-row label {
  margin-left: .25rem;
  font-size: 1.25rem;
}