{% load static %}

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Traugott</span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- Navigation. We hide it in small screens. -->
        <div class="menu mdl-layout--large-screen-only"></div>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Traugott</span>
    <div class="menu mdl-layout--small-screen-only"></div>
</div>