<li class="shot-type mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
        <img src="{{ shot_type.image }}" class="image">
        <span class="shot-title">
            {{ shot_type.title }}
            ({{ shot_type.volume }}ml)
        </span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <button class="mdl-button mdl-js-button mdl-button--icon decrease">
            <i class="material-icons">remove_circle_outline</i>
        </button>
        <span class="quantity">
            <input type="text" name="quantity" value="0" data-type-id="{{ shot_type.id }}">
        </span>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored increase">
            <i class="material-icons">add_circle_outline</i>
        </button>
    </span>
</li>