{% verbatim %}
  <script id="t-add-shot-item" type="text/x-handlebars-template">
    <form id="add-shot-item-form" class="centered">
      <h3>{{ translate "Add shot item" }}</h3>
      <div class="form-row">
        add shots here
      </div>
      <div class="form-row">
        <button id="add-shot" type="submit">{{ translate "Submit" }}</button>
        <span class="help-text">
          <a id="close-add-shot-item-form" href="#close">{{ translate "Cancel" }}</a>
        </span>
      </div>
    </form>
  </script>
{% endverbatim %}