{% verbatim %}
  <script id="t-dashboard" type="text/x-handlebars-template">
    <div id="dashboard">
      {{# if profile.stats }}
        <div class="timedelta-last-shot row">
          <div class="value">{{ profile.stats.timedelta_last_shot_repr }}</div>
          <label>{{ translate "You don't drink" }}</label>
        </div>
        <div class="skipped-volume-last-shot row">
          <div class="value">
            {{ profile.stats.skipped_volume_last_shot }}
            {{ translate "ml of alcohol" }}
          </div>
          <label>{{ translate "You haven't drunk" }}</label>
        </div>
        <div class="money-saved-last-shot row">
          <div class="value">
            {{ profile.stats.money_saved_last_shot }}
            {{ profile.currency }}
          </div>
          <label>{{ translate "Saved money" }}</label>
        </div>
      {{ else }}
        {{ translate "You haven't added any shots yet" }}
      {{/if}}
    </div>
  </script>
{% endverbatim %}