{% verbatim %}
  <script id="t-dashboard" type="text/x-handlebars-template">
    <div id="dashboard">
      {{#if profile.stats}}
        <div id="stats-container" class="block">
          <div class="timedelta-last-shot row">
            <div class="value">{{ profile.stats.timedelta_last_shot_repr }}</div>
            <label>{{ translate "You don't drink" }}</label>
          </div>
          <div class="skipped-volume-last-shot row">
            <div class="value{{#if (lt profile.stats.skipped_volume_last_shot 0) }} overflow{{/if}}">
              {{ profile.stats.skipped_volume_last_shot }}
              {{ translate "ml" }}
            </div>
            <label>
              {{#if (gte profile.stats.skipped_volume_last_shot 0) }}
                {{ translate "You've not drunk" }}
              {{ else }}
                {{ translate "Had too much alcohol" }}
                {{#if (gt profile.stats.days_to_balance 0) }}
                  <span class="days-to-the-balance">
                    {{ profile.stats.days_to_balance }} {{ translate "days to the balance" }}
                  </span>
                {{/if}}
              {{/if}}
            </label>
          </div>
          <div class="money-saved-last-shot row">
            <div class="value{{#if (lt profile.stats.money_saved_last_shot 0) }} overflow{{/if}}">
              {{ profile.stats.money_saved_last_shot }}
              {{ profile.currency }}
            </div>
            <label>
              {{#if (gte profile.stats.money_saved_last_shot 0) }}
                {{ translate "Money saved" }}
              {{ else }}
                {{ translate "Spent more than others" }}
                {{#if profile.stats.popular_drink }}
                  <span class="popular-drink">
                    {{ profile.stats.popular_drink }}
                  </span>
                {{/if}}
              {{/if}}
            </label>
          </div>
        </div>
        <div id="calendar-container" class="block"></div>
        <div id="shot-list-container" class="block"></div>
      {{ else }}
        {{ translate "You haven't added any shots yet" }}
      {{/if}}
    </div>
  </script>
  <script id="t-calendar" type="text/x-handlebars-template">
    <h4>{{ translate "Monthly stats" }}</h4>
    <div class="table">
      <div class="days">
      {{#each daysOfWeek }}
        <div class="day">{{ this }}</div>
      {{/each}}
      {{#each calendar }}
        <div class="date{{#if this.is_drunk}} drunk{{/if}}{{#if (gt this.date ../today)}} disabled{{/if}}">
          {{ getDay this.date }}
        </div>
      {{/each}}
      </div>
    </div>
  </script>
  <script id="t-shot-list" type="text/x-handlebars-template">
    <h4>{{ translate "Latest shots" }}</h4>
    <div class="headers">
      <div class="table">
      {{#each shotList }}
        <div class="shot-item">
          <div class="date">{{ formatDate this.created_at }} - </div>
          <div class="shot">{{ this.shot.volume }}{{ translate "ml of" }} {{ this.shot.title }}</div>
          {{#if (gt this.count 1) }}
            <div class="count">&nbsp;&times;&nbsp;{{ this.count }}</div>
          {{/if}}
        </div>
      {{/each}}
      </div>
    </div>
  </script>
{% endverbatim %}