{% verbatim %}
  <script id="t-dashboard" type="text/x-handlebars-template">
    <div id="dashboard">
      <h3>{{ translate "Your dashboard" }}</h3>
      {{# if profile.stats }}
        <div class="timedelta-last-shot">
          <h3>{{ translate "You don't drink" }}</h3>
          <div class="value">{{ profile.stats.timedelta_last_shot }}</div>
        </div>
        <div class="skipped-volume-last-shot">
          <h3>{{ translate "You didn't drink" }}</h3>
          <div class="value">
            {{ profile.stats.skipped_volume_last_shot }}
            {{ translate "ml of alcohol" }}
          </div>
        </div>
        <div class="money-saved-last-shot">
          <h3>{{ translate "Saved money" }}</h3>
          <div class="value">
            {{ profile.stats.money_saved_last_shot }}
            {{ profile.currency }}
          </div>
        </div>
      {{ else }}
        {{ translate "You haven't added any shots yet" }}
      {{/if}}
    </div>
  </script>
{% endverbatim %}