{% verbatim %}
  <script id="t-settings" type="text/x-handlebars-template">
    <form id="update-settings-form" class="centered">
      <h3>{{ translate "Your settings" }}</h3>
      <div class="settings">
        <div class="form-row">
          <label for="currency">{{ translate "Stats calculation currency" }}</label>
          <select name="currency" id="currency">
            {{#each options.currencies}}
              <option value="{{ @key }}" {{#if (eq @key profile.currency)}}selected{{/if}}>{{ this }}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-row">
          <label for="language">{{ translate "Interface Language" }}</label>
          <select name="language" id="language">
            {{#each options.languages}}
              <option value="{{ @key }}" {{#if (eq @key profile.language)}}selected{{/if}}>{{ this }}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-row">
          <label for="timezone">{{ translate "Timezone" }}</label>
          <input name="timezone" id="timezone" type="text" value="{{ profile.timezone }}"
                 placeholder="{{ translate 'Your timezone' }}">
          <div class="help-text">{{ translate "Will be used for daily stats calculation" }}</div>
        </div>
        <div class="form-row">
          <label for="avg_consumption">{{ translate "Average consumption" }}</label>
          <input name="avg_consumption" id="avg_consumption" type="number" value="{{ profile.avg_consumption }}"
                 placeholder="{{ translate 'Average consumption' }}" min="100" step="100">
          <div class="help-text">
            {{ translate "Average consumption of spirit in milliliters per year" }}<br>
            {{ translate "Default value is got from" }}
            <a href="https://www.who.int/substance_abuse/publications/alcohol/en/">
              {{ translate "WHO status report 2018" }}
            </a>
          </div>
        </div>
        <div class="form-row">
          <label for="avg_price">{{ translate "Average price" }}</label>
          <input name="avg_price" id="avg_price" type="number" value="{{ profile.avg_price }}"
                 placeholder="{{ translate 'Average price' }}" min="1" step="1">
          <div class="help-text">
            {{ translate "Average price per 1000 milliliters of spirit" }}
          </div>
        </div>
        <div class="form-row">
          <button id="update-settings" type="submit">{{ translate "Update" }}</button>
          <span class="help-text">
            <a id="close-update-settings-form" href="#close">{{ translate "Cancel" }}</a>
          </span>
        </div>
      </div>
    </form>
  </script>
{% endverbatim %}