@color-primary      : #8021ba;
@color-primary-dark : #330838;
@color-accent       : #0d818e;
@color-accent-dark  : #0d323f;


.mdl-button {
    &.mdl-button--primary {
        color: @color-primary;

        &:hover {
            color: @color-accent;
        }
    }

    &.mdl-button--fab,
    &.mdl-button--raised {
        &.mdl-button--colored {
            color: #FFF;
            background: @color-primary;

            &:hover {
                color: #FFF;
                background: @color-accent;
            }
        }
    }

    &.mdl-button--icon {
        color: #666;

        &.mdl-button--colored {
            color: @color-accent;
        }
    }
}

.mdl-layout__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: transparent;

    .mdl-layout__header-row {
        .mdl-menu__item {
            .mdl-navigation__link {
                padding: 0;
                text-align: left;
                line-height: 3.5em;
                color: inherit;
            }
        }
    }

    .mdl-button {
        &.mdl-button--icon {
            color: #FFF;
        }
    }
}

.mdl-layout__content {
    position: relative;
    top: 56px;

    .white-plate {
        display: flex;
        height: 100%;
        color: #333;
        background: #FFF;

        .plate-wrapper {
            width: 100%;

            .mdl-textfield {
                .mdl-textfield__input {
                    color: #333;
                    border-bottom: 1px solid #CCC;
                }

                .mdl-textfield__label {
                    color: #333;

                    &:after {
                        background-color: @color-accent;
                    }
                }
            }
        }
    }
}

.mdl-grid {
    .mdl-cell:last-child {
        .mdl-card {
            border-bottom: 0;
        }
    }
}

.mdl-card {
    width: auto;

    .mdl-card__media {
        text-align: center;
        background-color: transparent;
    }

    .mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }

    .mdl-card__supporting-text {
        width: 100%;
        padding: 0.3em 0;
    }
}

.mdl-list {
    margin-bottom: 2em;
    padding: 0;

    .mdl-list__item {
        height: auto;
        padding: 0 0 0 8px;
        .mdl-list__item-secondary-content {
            flex-flow: row;
        }
    }
}

.mdl-dialog {
    .mdl-dialog__title {
        font-size: 2rem;
    }

    .mdl-dialog__content {
        .mdl-list:last-child {
            margin-bottom: 0;
        }
    }
}

.mdl-tabs {
    &.is-upgraded {
        .mdl-tabs__tab.is-active:after {
            background: #FFF;
        }
    }

    .mdl-tabs__tab-bar {
        padding-top: 1em;
    }
}

.mdl-tabs__panel {
    padding: 0.1em 1em 1em 1em;
    background: #FFF;
}

.mdl-textfield {
    .mdl-textfield__input {
        color: #FFF;
        border-bottom: 1px solid #FFF;
    }

    .mdl-textfield__label {
        color: #FFF;

        &:after {
            background-color: @color-accent;
        }
    }
}

.mdl-radio.is-checked {

    .mdl-radio__inner-circle {
        background: @color-accent;
    }

    .mdl-radio__outer-circle {
        border: 2px solid @color-accent;
    }
}

.material-icons {
    img {
        min-width: 100%;
        max-width: 100%;
    }
}
