.mdl-mini-footer {
    background: transparent;

    .mdl-mini-footer__link-list {
        padding-top: 4em;
        a {
            padding-right: 1.5em;
            text-transform: uppercase;
        }
    }
}

.mdl-button {
    &.mdl-button--primary {
        color: #8021ba;

        &:hover {
            color: #0d818e;
        }
    }

    &.mdl-button--fab,
    &.mdl-button--raised {
        &.mdl-button--colored {
            color: #FFF;
            background: #8021ba;

            &:hover {
                color: #FFF;
                background: #0d818e;
            }
        }
    }

    &.mdl-button--icon {
        color: #666;

        &.mdl-button--colored {
            color: #8021ba;
        }
    }
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: #FFF;
}

.mdl-card {
    width: auto;

    .mdl-card__media {
        text-align: center;
        background-color: transparent;
    }

    .mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }

    .mdl-card__supporting-text {
        width: 100%;
        padding: 0.3em 0;
    }
}

.mdl-list {
    margin-bottom: 2em;
    padding: 0;

    .mdl-list__item {
        height: auto;
        padding: 0 0 0 8px;
        .mdl-list__item-secondary-content {
            flex-flow: row;
        }
    }
}

.mdl-dialog {
    .mdl-dialog__content .mdl-list:last-child {
        margin-bottom: 0;
    }

    .mdl-dialog__title {
        font-size: 2rem;
    }
}

.mdl-layout__header-row .mdl-menu__item .mdl-navigation__link {
    padding: 0;
    text-align: left;
    line-height: 3.5em;
    color: inherit;
}

.mdl-layout__header {
    background-color: transparent;
}

.dialog .mdl-layout__header {
    display: flex;
}

.mdl-textfield__input {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

.mdl-textfield__label {
    color: #FFF;

    &:after {
        background-color: #0d818e;
    }
}

.mdl-tabs__panel {
    padding: 0.1em 1em 1em 1em;
    background: #FFF;
}

.mdl-grid {
    .mdl-cell:last-child {
        .mdl-card {
            border-bottom: 0;
        }
    }
}
