{% verbatim %}

<script id="t-add-shot-dialog" type="text/x-handlebars-template">
    <div class="mdl-layout__header is-casting-shadow">
        <div class="mdl-layout__drawer-button close">
            <i class="material-icons">arrow_back</i>
        </div>
        <div id="add-shot-header" class="mdl-layout__header-row header">
            <span class="mdl-layout-title">Add shot</span>
            <div class="mdl-layout-spacer"></div>
            <button id="shot-type-button" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul id="shot-type-menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="shot-type-button">
              <li class="add-shot-type mdl-menu__item">Add new shot type</li>
              <li class="edit-my-shots mdl-menu__item">Edit catalog</li>
            </ul>
        </div>
    </div>
    <div class="mdl-layout__content content">
        <div class="white-plate">
            <div class="plate-wrapper">
                <div id="shot-type-tabs" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar gradient-tabs">
                        <a href="#popular-panel" class="mdl-tabs__tab is-active">
                            <i class="material-icons">view_carousel</i>
                        </a>
                        <a href="#library-panel" class="mdl-tabs__tab">
                            <i class="material-icons">view_agenda</i>
                        </a>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="popular-panel">
                        {{#popular}}
                            <div class="image"><img src="{{ image }}"></div>
                            <div class="name">{{ title }} ({{ degree }}%)</div>
                            <div class="quantity">
                                <button class="mdl-button mdl-js-button mdl-button--icon decrease popular">
                                    <i class="material-icons">remove</i>
                                </button>
                                <span class="volume non-nullable">
                                    <input type="text" name="volume" value="{{ volume }}"
                                           data-type-id="{{ id }}" data-step="{{ volume }}">
                                    {{ measure }}
                                </span>
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored increase popular">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        {{/popular}}
                    </div>
                    <div class="mdl-tabs__panel" id="library-panel">
                        {{#if user_types }}
                            <h5>Your favorite shots</h5>
                            <ul class="mdl-list">
                                {{#each user_types }}
                                    {{>shot-type-item}}
                                {{/each}}
                            </ul>
                            <h5>Other shots</h5>
                        {{else}}
                            <h5>Popular shots</h5>
                        {{/if}}
                        <ul class="mdl-list">
                            {{#each all_types }}
                                {{>shot-type-item}}
                            {{/each}}
                        </ul>
                    </div>
                 </div>
             </div>
        </div>
    </div>
    <button class="add-shot mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
</script>

<script id="t-add-shot-type-dialog" type="text/x-handlebars-template">
    <div class="mdl-layout__header is-casting-shadow">
        <div class="mdl-layout__drawer-button close">
            <i class="material-icons">arrow_back</i>
        </div>
        <div id="add-shot-header" class="mdl-layout__header-row header">
            <span class="mdl-layout-title">Add shot type</span>
            <div class="mdl-layout-spacer"></div>
            <button class="add mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>
    <div class="mdl-layout__content content">
        <div class="white-plate">
            <div class="plate-wrapper">
                <form id="add-shot-type-form">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="title">
                        <label class="mdl-textfield__label" for="title">Title</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="degree">
                        <label class="mdl-textfield__label" for="degree">Degree, %</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="volume">
                        <label class="mdl-textfield__label" for="volume">Volume, ml</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="cost">
                        <label class="mdl-textfield__label" for="cost">Average Cost, USD</label>
                    </div>
                    <div class="icons">
                        <span class="mdl-layout-title">Choose shot icon</span>
                        <div class="mdl-grid icons-grid">
                            {{#each icons }}
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="icon-{{ id }}">
                                        <input type="radio" id="icon-{{ id }}" class="mdl-radio__button icon" name="icon" value="{{ id }}">
                                        <span class="mdl-radio__label icon-title">
                                            <span class="icon-image">
                                                <img src="{{ thumb }}" title="{{ title }}">
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script id="t-edit-my-shots-dialog" type="text/x-handlebars-template">
    <div class="mdl-layout__header is-casting-shadow">
        <div class="mdl-layout__drawer-button close">
            <i class="material-icons">arrow_back</i>
        </div>
        <div id="add-shot-header" class="mdl-layout__header-row header">
            <span class="mdl-layout-title">Your catalog</span>
        </div>
    </div>
    <div class="mdl-layout__content content">
        <div class="white-plate">
            <div class="plate-wrapper">
                <div class="notice">
                    You can drag and drop items to reorder it.
                </div>
                <ul id="my-shots" class="mdl-list my-shots">
                    {{#each shots}}
                        <li class="mdl-list__item my-shot-item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons  mdl-list__item-avatar avatar">
                                    <img src="{{ thumb }}">
                                </i>
                                {{ title }}, {{ volume }}{{ measure }} ({{ degree }}%)
                            </span>
                            <span class="mdl-list__item-secondary-content enable">
                                <label class="mdl-switch mdl-js-switch" for="shot-type-{{@index}}">
                                    <input type="checkbox" id="shot-type-{{@index}}" class="mdl-switch__input" checked />
                                </label>
                            </span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</script>

<script id="t-error" type="text/x-handlebars-template">
    <div class="error">
        <div class="message">
            <i class="material-icons">error_outline</i>
            {{ message }}
        </div>
        <div class="actions">
            <button class="close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Close
            </button>
        </div>
    </div>
</script>

{% endverbatim %}