<button id="open-add-shot-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
</button>
<div id="add-shot-dialog" class="mdl-dialog hidden">
    <h4 class="mdl-dialog__title">Choose shot and quantity</h4>
    <div class="mdl-dialog__content">
        <h5>Mainly used shots</h5>
        <ul class="mdl-list">
            {% for shot_type in user_shot_types %}
                {% include 'shots/shot_type.html' %}
            {% endfor %}
        </ul>
        <h5>Other shots</h5>
        <ul class="mdl-list">
            {% for shot_type in all_shot_types %}
                {% include 'shots/shot_type.html' %}
            {% endfor %}
        </ul>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
        <button type="button" class="mdl-button mdl-button--primary add">Add</button>
    </div>
</div>