{% load static %}

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Churchill</span>
        <div class="mdl-layout-spacer"></div>

        <div class="top-menu mdl-layout--large-screen-only">
            {% if user.id %}
                <div class="image">
                    <img src="{{ user.image }}">
                </div>
                <div class="email">{{ user.email }}</div>

                <button id="show-top-menu" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="show-top-menu">
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'index' %}">Timeline</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <button id="show-top-menu" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="show-top-menu">
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</header>

<div class="drawer mdl-layout__drawer">
    {% if user.id %}
        <div class="image">
            <img src="{{ user.image }}">
        </div>
        <div class="mdl-layout-title email">{{ user.email }}</div>
    {% else %}
        <div class="mdl-layout-title email">Not loggined</div>
    {% endif %}

    <div class="menu mdl-navigation">
        {% if user.id %}
            <a class="mdl-navigation__link" href="{% url 'index' %}">
                <i class="material-icons" role="presentation">timeline</i>
                <span>Timeline</span>
            </a>
            <a class="mdl-navigation__link" href="{% url 'profile' %}">
                <i class="material-icons" role="presentation">account_circle</i>
                <span>Profile</span>
            </a>
            <a class="mdl-navigation__link" href="{% url 'logout' %}">
                <i class="material-icons">exit_to_app</i>
                <span>Logout</span>
            </a>
        {% else %}
            <a class="mdl-navigation__link" href="{% url 'login' %}">
                <i class="material-icons">vpn_key</i>
                <span>Login</span>
            </a>
        {% endif %}

        <a class="mdl-navigation__link" href="{% url 'about' %}">
            <i class="material-icons">help_outline</i>
            <span class="visuallyhidden">About</span>
        </a>
    </div>
</div>